@media (min-width: 200px) and (max-width : 500px) {
    #nav-mob-visible-bars {
        color: #fff;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    #nav-links {
        width: 75%;
        height: 100vh;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 19px;
        position: absolute;
        left: 0%;
        top: 0%;
        background-color: #fff;
        color: black;
        margin-left: 0%;
        display: none;
    }

    #cross-mark {
        display: block;
        font-size: 1.8rem;
        font-weight: 300;
        align-self: flex-end;
    }


    #nav-links>li {
        width: 100%;
        padding: 10px 0px;
        border-bottom: 2px solid #ccc;
    }

    #nav-links>li>a {
        text-decoration: none;
        font-size: 17px;
        color: black;
        font-family: apercu, sans-serif, 'Times New Roman', Times, serif;
        font-weight: 100;
    }

    /* Nav Bar  */
    .nav-bar {
        height: 9vh;
        padding: 3px 5px;
    }

    /* Nav Elements  */
    .nav-bar>.nav-elements {
        justify-content: space-between;
    }

    /* nav aside rounds div */
    .nav-aside-rounds {
        display: none;
    }

    /*nav-aside-rounds-2 div  */
    .nav-aside-rounds-2 {
        background-color: #ED1C24;
        border-radius: 35px;
        width: fit-content;
        padding: 9px 7px;
        margin-left: 0%;
    }

    .nav-aside-rounds-2>a {
        display: flex;
        flex-direction: row-reverse;
        font-size: 14px;
    }

    .nav-aside-rounds-2>a>#arrow-icon {
        font-size: 18px;
        font-weight: 600;
        border-radius: 50%;
        padding: 2px;
    }

    /* Nav Icons Div  */
    .nav-icon {
        height: 100%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Nav-logo Image  */
    .nav-logo-img {
        width: 110px;
        height: 60px;
    }

    /* Hero Section images  */
    .anim-images {
        height: fit-content;
        width: 100%;
    }

    .anim-images>.anim-img-1 {
        width: 100%;
        height: 45vh;
        background-image: url("./../WEB-Images/mob-hero-bg-img.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Section 2 Head Content  */

    .after-content-head-others {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:10px 12px;
        margin-top: 25px;
    }

    .content-head {
        font-size: 1.5rem;
        font-weight: 100;
        width: 100%;
        padding: 0.5%;
        line-height: 37px;
        word-spacing: 2px;
        margin-bottom: 4px;
    }

    .snp-head {
        font-size: 1.9rem;
        font-weight: 400;
        font-family: Futurak, apercu, sans-serif, 'Times New Roman', Times, serif;
        color: #fff;
    }

    .after-content-head-others>p {
        font-size: 0.9rem;
        line-height: 20px;
        font-family: apercu, sans-serif, 'Times New Roman', Times, serif;
        text-align: center;
        margin-bottom: 10px;
    }
    /* Section 3 Media  */
}